/* General */
:root{
  --addBtnWidth: 15%;
  --bgc: #e4e4e4;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica ,serif;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  cursor: pointer;
  border: none;
}
body{
  background-color: var(--bgc);
}

/* Header */
header{
  color: white;
  width: 100%;
  height: 25vh;
  background-image: url("./pattern.png");
  background-size: contain;
}
.clearBtn{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: xx-large;
  background: none;
  color: white;
}

/* Main content */
#content{
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo{
  display: flex;
  width: 90%;
  margin: 0 auto 5px auto;
  background-color: #fff;
  padding: 10px 3px;
  border-radius: .25rem;
  font-size: larger;
}
.checkBtn{
  width: 15%;
  background: none;
  font-size: large;
}
.text{
  width: 90%;
  overflow-wrap: break-word;
}
.removeBtn{
  width: 10%;
  background: none;
  font-size: large;
}
.checked{
  background-color: lightgreen;
}
.checked p {
  width: 100%;
  text-decoration: line-through black;
}


/* Add todo */
#addSection{
  display: flex;
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  border-top: #ffffffbb 3px solid;
}
.addBtn{
  background-color: inherit;
  height: 100%;
  width: var(--addBtnWidth);
  font-size: xx-large;
  color: white;
  /* border-right: #ffffffbb 3px solid; */
}
input{
  background-color: var(--bgc);
  height: 100%;
  width: calc(100% - var(--addBtnWidth));
  padding: 0 10px;
  font-size: large;
  border: none;
}